<li id="group_message-<%= group_message.id %>">

  <span class="user"><%= link_to group_message.user.name, group_message.user %></span>
  <span class="content"><%= group_message.message %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(group_message.created_at) %> ago.
    <% if current_user?(group_message.user) %>
      <%= link_to "delete", delete_group_message_path(id: group_message.id, group_id: @group.id), method: :destroy,
      data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
