<div class="row col-md-12">
  <div class="row col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 28px"><%= @group.name %></h3>
      </div>

      <div class="panel-body text-center">
        <%= thumbnail(@group) %>
      </div>

      <div class="panel-footer text-center">
        <% if @group.is_member? current_user.id %>
            <%= link_to 'Leave Group', leave_group_path(group_id: @group.id), class: "btn btn-warning" %>
        <% else %>
            <%= link_to 'Join Group', join_group_path(group_id: @group.id), class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Description</div>
      <div class="panel-body">
        <%= @group.details %>
      </div>
    </div>
  </div>

</div>

<%= render "events" %>

<%= render "members" %>

<%= render partial: 'group_messages' %>
