
<div class="row col-md-12">
  <div class="row col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="font-size: 28px"><%= @user.name %></h3>
      </div>

      <div class="panel-body text-center">
        <%= image_tag @user.picture.url if @user.picture? %>
        <% if current_user?(@user) %>
            <br/><br/>
            <%= link_to messages_path, :class => 'btn btn-default' do %>
                Inbox <span class="badge"><%= @user.recieved_messages.count%></span>
            <% end %>
            <br/><br/>

            <p><%= link_to "Edit Profile", edit_user_path, class: "btn btn-default" %></p>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Description</div>
      <div class="panel-body">
        <%= @user.details %>
      </div>
    </div>
  </div>
  <div>
    <%= render partial: 'map' %>
  </div>
</div>



</div>

<script type="text/javascript">
    $('#user_picture').bind('change', function () {
        var size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>
